.orderContainer{
    padding: 2em;
}

.cartContent {
    margin-top: 2em;
    padding: 1em;
}

.header {
    font-family: 'Red Hat Text', sans-serif ;
    font-weight: bolder;
    font-size: 2.5em;
    color:  hsl(14, 65%, 9%);
}


.message {
    font-family: 'Red Hat Text', sans-serif ;
    font-size: 1em;
    font-weight: normal;
    color:  hsl(14, 25%, 72%);
}



.startOrder{
    font-family: 'Red Hat Text', sans-serif ;
    font-size: 1em;
    font-weight: 700;
    background-color:  hsl(14, 86%, 42%);
    color: white;
    padding: 1em;
    text-align: center;
    margin-top: 2em;
    border-radius: 5px;
    cursor: pointer;
}


.totalSummary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;

}

.totalPrice {
   font-family: 'Red Hat Text', sans-serif;
   font-size: 1.5em;
   font-weight: bolder;
   color:  hsl(14, 65%, 9%);
}


p{
    color:   hsl(7, 20%, 60%);
    font-size: 1em;
}