@import '/assets/fonts/fonts.css';


.orderProperties{
    display:flex ;
    align-items: center;
    gap: 1em;
    border-bottom: 1px solid hsl(6, 11%, 82%);
    padding: 1em;
    margin-bottom: 1em;
}

.orderImage{
    width: 15%;
}q

.itemName {
    font-family: 'Red Hat Text', sans-serif ;
    font-size: 1em;
    font-weight: 700;
    color:  hsl(14, 65%, 9%);
    margin-top: 2em;
}

.quantity {
    font-family: 'Red Hat Text', sans-serif ;
    font-size: 1em;
    font-weight: normal;
    color:  hsl(14, 86%, 42%);
}

.price {
    font-family: 'Red Hat Text', sans-serif ;
    font-size: 1em;
    font-weight: normal;
    color:  hsl(14, 25%, 72%);
}

.subPrice {
    font-family: 'Red Hat Text', sans-serif ;
    font-size: 1em;
    font-weight: normal;
    color:  hsl(12, 20%, 44%);
}

.button {
    color:hsl(7, 20%, 60%) ;

}

.itemDetails {
    display: flex;
    gap: 1em;
}

.itemInfo {
    display: flex;
    justify-content: space-between;
}