

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  margin-top: 2em;

}

@media only screen and (min-width: 800px) {
  main{
    display: flex;
    justify-content: center;
    gap: 5em;
  }
}
