

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFFAF0;
}


.cartLength {
  position: sticky;
  top: 0;
  z-index: 1000; 
  text-align: right;
  padding: 1em;

}

.link{
    text-decoration: none;
}


@media only screen and (min-width: 800px) {
  main{
    display: flex;
    justify-content: center;
    gap: 5em;
  }

   .cartLength{
     visibility: hidden;
 }
}
